.DS_Store
node_modules
Pipfile
frontend/todoapp/node_modules

/**/.idea/
/**/node_modules/
/**/.vscode/
/**/package-lock.json
/**/dist/
/**/lib/
/**/npm-debug.log
jobs/geocode/results.csv
jobs/geocode/results.json
jobs/geocode/results1.json
jobs/geocode/results2.csv
jobs/geocode/results2.json
jobs/geocode/results3.json
jobs/geocode/results4.json
.env
production.env.js
uat.env.js
staticmaps
static_file_server/
backend_build
STATIC/marketpulse
timeTracker.json
*.pyc
ok

git remote add upstream https://github.com/monika7896/ProjectDec.git
